.counter-item{
    max-width: 250px;
}
.counter-item {
    padding: 40px 0;
    background: #191919;
    text-align: center;
}
.counter-item h3 {
    font-size: 50px;
    font-family: bb;
    color: white;
    padding-bottom: 6px;
    display: inline-block;
    margin: 0;
}
.counter-item span {
    font-size: 50px;
    font-family: bb;
    color: white;
}
.counter-item span b {
    color: #e50914;
}

.counter-item p {
    font-family: br;
    font-size: 19px;
    color: #787878;
    margin: 0;
}