.gutadns-{
	&alert {
		padding: 20px 30px;
		background-color: #f44336;
		color: white;
		&.success{
			background-color: #04AA6D;
		}
		&.info{
			background-color: #2196F3;
		}
		&.warning{
			background-color: #ff9800;
		}
		h2,
		p:last-child{
			margin: 0 ;
		}
	}

}